@import '~antd/es/style/themes/default.less';

.main {
  width: 100%;
  background: @component-background;
  :global {
    .ant-pro-page-header-wrap-children-content {
      margin: 0 24px 0;
    }
  }
}
